<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RazorPagesApp</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <div id="sider">
        <nav class="nav-main">
            <div class="nav-main-side"></div>
            <div class="nav-main-items">
                <a class="nav-main-item">Mouse</a>
                <a class="nav-main-item">Keyboard</a>
                <a class="nav-main-item">Gamepad</a>
            </div>
        </nav>
    </div>
    <div class="container">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
