<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <div id="sider">
        <nav class="nav-main">
            <div class="nav-main-items">
                <a class="nav-main-item" href="~/mouse">Mouse</a>
                <a class="nav-main-item" href="~/keyboard">Keyboard</a>
                <a class="nav-main-item" href="~/gamepad">Gamepad</a>
            </div>
        </nav>
    </div>
    <div class="container">
        @RenderBody()
    </div>

    @await RenderSectionAsync("Scripts", required: false)
    <script src="~/js/index.js"></script>
</body>
</html>
