
body {
  margin: 0;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

#sider {
  position: fixed;
  width: 16%;
  height: 100%;
  border-left: 0.125rem solid hsl(0, 0%, 50%);
}

.nav-main {
  position: relative;
  width: 100%;
  height: calc(100% - 1px);
  background-color: hsl(0, 0%, 15%);
}

.nav-main-items {
  font-family: Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
  font-weight: 100;
  position: relative;
  top: 60%;
  margin-left: 4rem;
  padding-top: 1px;
}

.nav-main-item {
  cursor: default;
  color: hsl(0, 0%, 50%);
  text-decoration: none;
  display: block;
  position: relative;
  margin-top: -1px;
  padding: 1rem 2.5rem;
  border-top: 1px solid hsl(0, 0%, 25%);
  border-bottom: 1px solid hsl(0, 0%, 25%);
}

.nav-main-item:visited {
  color: hsl(0, 0%, 50%);
}

.container {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: hsl(0, 0%, 30%);
  position: relative;
  left: 16%;
  margin-left: 0.25rem;
  padding: 3rem;
  width: 100%;
  min-height: 100vh;
  background-color: hsl(0, 0%, 90%);
  border-left: 0.125rem solid hsl(0, 0%, 50%);
}

.screen-log-area {
  margin-bottom: 1rem;
  padding: 0rem 1rem;
  width: 30%;
  background-color: hsl(0, 0%, 85%);
  border-radius: 0.5rem;
}

.screen-log {
  margin: 0;
  padding-bottom: 1rem;
}

button {
  width: 5rem;
  height: 2rem;
}

canvas {
  display: block;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
