@page
@model IndexModel
@{
  ViewData["Title"] = "Latency Tester - Gamepad (A)";
}

<div class="screen-log-area">
  <p class="screen-log" id="screen-log-gp"><br>null<br>Last interval: 0</p>
</div>
<button id="button-gp">Start</button>
<canvas id="chart-gp" width="802" height="200"></canvas>

@section Scripts
{
  <script src="~/js/gamepad.js"></script>
}
